Whatsappauto_evo.json
{
  "name": "ai-whatsapp-assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "name": "Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "chat_id",
              "value": "={{ $json.body.sender }}",
              "type": "string"
            },
            {
              "name": "instance_name",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "name": "api_key",
              "value": "YOUR_API_KEY",
              "type": "string"
            },
            {
              "name": "url_sever",
              "value": "https://your-api-server.com",
              "type": "string"
            },
            {
              "name": "user_message",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [200, 0],
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.user_message }}",
        "options": {
          "systemMessage": "You are an AI-powered WhatsApp assistant for a digital services company.\n\nRespond professionally, politely, and concisely.\n\nOnly provide general information about services such as digital marketing, web development, mobile apps, and IT solutions.\n\nDo not include personal data, phone numbers, emails, or addresses.\n\nIf pricing or detailed queries are asked, suggest contacting the business directly.\n\nAlways aim to assist and guide the user clearly."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [400, 0],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.chat_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [400, 200],
      "name": "Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-api-server.com/message/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.chat_id }}"
            },
            {
              "name": "text",
              "value": "={{ $json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [700, 0],
      "name": "Send Message"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Edit Fields" }]]
    },
    "Edit Fields": {
      "main": [[{ "node": "AI Agent" }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send Message" }]]
    }
  }
}
